.mainMenu_Container {
    width: 100%;
    margin: 1.5% 2.5%;
    border-radius: 130px;
}

.ui.inverted.segment.mainMenu_Segment {
    border: solid black 0px;
    border-radius: inherit;
}

.ui.inverted.pointing.secondary.mainMenu_Menu.menu {
    font-variant: petite-caps;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

a.item.mainMenu_Link {
    margin: 0 2vw!important;
}